body { font-family:Arial, Helvetica, sans-serif; background:#F1F1F1; }
a { color:#fff; }

#content { width:960px; margin:0 auto; }

/** SuperMap Styles **/
.loader { background: url('../img/map/loader.gif') no-repeat center #fff; }

.imgCaption {
	top: 0;
	left: 0;
	color: #fff;
	opacity: .6;
	background: #333;
	padding: 10px;
	width: 940px;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 #111;
	font-weight: bold;
}

.mapNav { height: 72px; width: 74px; }

	.map-move {
		position: absolute;
		background-repeat: no-repeat;
		width: 24px;
		height: 24px;
		outline: none;
		opacity: .6;
		text-indent: -9999px;
		display: block;
		z-index: 7;
	}
	.map-move:hover { opacity: 1; }

.map-move0 { top: 0; left: 26px; background-image:url('../img/map/move-up.png'); }
.map-move1 { top: 24px; right:0; background-image:url('../img/map/move-right.png'); }
.map-move2 { bottom:0; left:26px; background-image:url('../img/map/move-down.png'); }
.map-move3 { top:24px; left:0; background-image:url('../img/map/move-left.png'); }


.map { margin:10px 0; width:960px; height:500px; }

.point { 
	display: block;
	width: 35px;
	height: 46px;
	outline: none;
	background: url('../img/map/marker.png') no-repeat;
	cursor: pointer;
}


.slide { 
	background: url('../img/opacity/w90.png');
	display: none; 
	font: 12px/20px 'Trebuchet', 'Trebuchet MS', sans-serif;
	left: 3%;
	padding: 2%; 
	position: absolute; 
	text-shadow: 0 1px 1px #fff;
	top: 0; 
	width: 90%; 
	z-index: 3; 
}
	.slide .close { 
		background: url('../img/map/close.png') no-repeat left bottom;
		bottom: -12%; 
		cursor: pointer;
		height: 30px;
		position: absolute; 
		right: -1.5%; 
		text-decoration: none;
		width: 30px;
	}
		.slide .close span { float: left; margin: 2px 0 0 13px; }
		.slide .close strong { color: #d49604; float: left; }
				
.bubble {
	background: #333;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	color: #fff;
	padding: 15px;
	width: 300px;
}
	.bubble .close {
		display: block;
		text-indent: -9999px;
		position: absolute;
		top: -10px;
		right: -10px;
		width: 30px;
		height: 30px;
		outline: none;
		background: url('../img/map/close.png') no-repeat;
		cursor: pointer;
	}

	.bubble p { font-size: 10px; line-height: 1.6em; margin: 5px 0; }
	.bubble span { display:block; font-size:12px; font-weight:bold; }


ul.map_buttons, ul.map_buttons li { display:block; list-style:none; padding:0; margin:0; }
	ul.map_buttons li { float:left; }
		.map_buttons a {
			-moz-border-radius:8px;
			-webkit-border-radius:8px;
			border-radius:8px;
			background:#aaa;
			color:#fff;
			display:block;
			float:left;
			font-size:11px;
			line-height:28px;
			margin-right:4px;
			outline:none;
			padding:0 15px;
			text-decoration:none;
		}
		.map_buttons a:hover { background:#111; color:#fff; }

#map_zoom { float: right; margin: 0; padding: 10px 0 0; }
	#map_zoom li { float: left; list-style: none; margin-left: 20px; }
		#map_zoom li a { 
			-moz-border-radius:8px;
			-webkit-border-radius:8px;
			border-radius:8px;
			color: #222;
			padding: 6px 15px 6px 40px; 
			text-decoration: none; 
			text-shadow: 0 1px 1px #ddd; 
		}
		#map_zoom li #zoom_in { background: #aaa url('../img/map/plus.png') no-repeat 10px center;  }
		#map_zoom li #zoom_out { background: #aaa url('../img/map/minus.png') no-repeat 10px center; }
		
.activity { background: none; opacity: 0; }
.activity:hover, .activity.selected { opacity: .4; }

.activity#main-office {width:240px; height:150px;}
.activity#health-center {width:124px; height:71px;}
.activity#gate-house {width:49px; height:58px;}
.activity#mini-golf {width:200px; height:142px;}
.activity#big-top {width:279px; height:192px;}
.activity#tennis {width:328px; height:314px;}
.activity#playport {width:85px; height:88px;}
.activity#mega-mesa {width:122px; height:171px;}
.activity#railroad {width:88px; height:95px;}
.activity#field-dreams {width:468px; height:489px;}
.activity#coleman-yards {width:149px; height:90px;}
.activity#crafts {width:155px; height:85px;}
.activity#petting-zoo {width:82px; height:62px;}
.activity#picnic-grove {width:218px; height:138px;}
.activity#playground {width:100px; height:98px;}
.activity#dining-room {width:218px; height:138px;}
.activity#gymnastics {width:218px; height:138px;}
.activity#theater {width:218px; height:138px;}
.activity#sports-deck {width:218px; height:138px;}
.activity#woodworking {width:47px; height:37px;}
.activity#cabins {width:151px; height:183px;}
.activity#pioneer-station {width:146px; height:172px;}
.activity#cooking {width:143px; height:391px;}
.activity#dance-hall {width:218px; height:138px;}
.activity#soccer-fields {width:336px; height:265px;}
.activity#schoolhouse {width:61px; height:90px;}
.activity#computers {width:68px; height:112px;}
.activity#bus-yard {width:256px; height:286px;}
.activity#hockey {width:121px; height:135px;}
.activity#street-games {width:145px; height:103px;}
.activity#grand-playhouse {width:218px; height:138px;}
.activity#challenge-course {width:218px; height:138px;}
.activity#martial-arts {width:218px; height:138px;}
.activity#trails {width:1121px; height:550px;}
.activity#horseback-riding {width:173px; height:387px;}
.activity#storytelling {width:43px; height:51px;}
.activity#boating {width:246px; height:205px;}
.activity#zipline {width:358px; height:173px;}
.activity#archery {width:195px; height:131px;}
.activity#music {width:171px; height:143px;}
.activity#gaga-complex {width:218px; height:138px;}
.activity#water-park {width:218px; height:138px;}
.activity#ping-pong {width:98px; height:45px;}
.activity#yoga {width:165px; height:93px;}
.activity#junior-soccer {width:156px; height:97px;}
.activity#pool-locker-rooms {width:434px; height:162px;}
.activity#pools {width:284px; height:209px;}
.activity#basketball {width:554px; height:209px;}
.activity#volleyball {width:122px; height:102px;}
.activity#water-misters {width:28px; height:38px;}