body { font-family:Arial, Helvetica, sans-serif; background:#F1F1F1; }
a { color:#fff; }

#content { width:960px; margin:0 auto; }

/** SuperMap Styles **/
.loader { background: url('../img/map/loader.gif') no-repeat center #fff; }

.imgCaption {
	top: 0;
	left: 0;
	color: #fff;
	opacity: .6;
	background: #333;
	padding: 10px;
	width: 940px;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 #111;
	font-weight: bold;
}

.bubble .close {
	display: block;
	text-indent: -9999px;
	position: absolute;
	top: 4px;
	right: 4px;
	width: 18px;
	height: 18px;
	outline: none;
	background: url('../img/map/close.png') no-repeat;
	cursor: pointer;
}

.mapNav { height: 72px; width: 74px; }

	.map-move {
		position: absolute;
		background-repeat: no-repeat;
		width: 24px;
		height: 24px;
		outline: none;
		opacity: .6;
		text-indent: -9999px;
		display: block;
		z-index: 7;
	}
	.map-move:hover { opacity: 1; }

.map-move0 { top: 0; left: 26px; background-image:url('../img/map/move-up.png'); }
.map-move1 { top: 24px; right:0; background-image:url('../img/map/move-right.png'); }
.map-move2 { bottom:0; left:26px; background-image:url('../img/map/move-down.png'); }
.map-move3 { top:24px; left:0; background-image:url('../img/map/move-left.png'); }


.map { margin:10px 0; width:960px; height:500px; }

.point { 
	display: block;
	width: 35px;
	height: 46px;
	outline: none;
	background: url('../img/map/marker.png') no-repeat;
	cursor: pointer;
}


.slide { 
	background: url('../img/opacity/w90.png');
	display: none; 
	font: 12px/20px 'Trebuchet', 'Trebuchet MS', sans-serif;
	left: 3%;
	padding: 2%; 
	position: absolute; 
	text-shadow: 0 1px 1px #fff;
	top: 0; 
	width: 90%; 
	z-index: 3; 
}
	.slide .close { 
		background: url('../img/map/close.png') no-repeat left bottom;
		bottom: -12%; 
		cursor: pointer;
		height: 30px;
		position: absolute; 
		right: -1.5%; 
		text-decoration: none;
		width: 30px;
	}
		.slide .close span { float: left; margin: 2px 0 0 13px; }
		.slide .close strong { color: #d49604; float: left; }
				
.bubble {
	padding:7px 10px;
	background:#333;
	color:#fff;
	width:240px;
	font-size:11px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

	.bubble p { margin:5px 0; }
	.bubble span { display:block; font-size:12px; font-weight:bold; }
	.bubble img { vertical-align:bottom; }


ul.map_buttons, ul.map_buttons li { display:block; list-style:none; padding:0; margin:0; }
	ul.map_buttons li { float:left; }
		.map_buttons a {
			-moz-border-radius:8px;
			-webkit-border-radius:8px;
			border-radius:8px;
			background:#aaa;
			color:#fff;
			display:block;
			float:left;
			font-size:11px;
			line-height:28px;
			margin-right:4px;
			outline:none;
			padding:0 15px;
			text-decoration:none;
		}
		.map_buttons a:hover { background:#111; color:#fff; }

#map_zoom { float: right; margin: 0; padding: 10px 0 0; }
	#map_zoom li { float: left; list-style: none; margin-left: 20px; }
		#map_zoom li a { 
			-moz-border-radius:8px;
			-webkit-border-radius:8px;
			border-radius:8px;
			color: #222;
			padding: 6px 15px 6px 40px; 
			text-decoration: none; 
			text-shadow: 0 1px 1px #ddd; 
		}
		#map_zoom li #zoom_in { background: #aaa url('../img/map/plus.png') no-repeat 10px center;  }
		#map_zoom li #zoom_out { background: #aaa url('../img/map/minus.png') no-repeat 10px center; }
		
.activity { background: none; opacity: 0; }
.activity:hover, .activity.selected { opacity: .4; }
.activity#climbing-wall { height: 150px; width: 226px; }