body { margin: 0; padding: 0; }

#map-container { background: #555; margin: 0px auto; overflow: hidden; position: relative; height: 600px; width: 1200px; }
	#map-interactive { position: relative; }
		#map-bg { display: block; float: left; left: 0; position: absolute; top: 0; z-index: 1; }
		.map-point { 
			background: #000;
			border-radius: 15px; 
			color: #fff; 
			display: block; 
			font: 12px/12px Georgia;
			height: 14px;
			padding: 3px; 
			position: relative; 
			text-align: center;
			text-decoration: none;
			width: 15px; 
			z-index: 3; 
		}
		.map-region {
			background: url('/img/map/sprite-regions.png') no-repeat;
			display: block;
			text-indent: -999em;
			position: relative;
			z-index: 2;
		}
			#region-soccer-field { background-position: 0 0; left: 150px; height: 173px; width: 209px; top: 400px; }
			#region-soccer-field:hover, #region-soccer-field.selected { background-position: 0 -200px; }
			
		.map-data { 
			background: url('/img/opacity/w90.png');
			display: none; 
			font: 12px/20px 'Trebuchet', 'Trebuchet MS', sans-serif;
			left: 5%;
			padding: 2%; 
			position: absolute; 
			text-shadow: 0 1px 1px #fff;
			top: 0; 
			width: 90%; 
			z-index: 3; 
		}
			.map-data .close { 
				background: url('/img/tab.png') no-repeat left bottom;
				bottom: -6%; 
				height: 23px;
				position: absolute; 
				right: 0; 
				text-decoration: none;
				width: 68px;
			}
				.map-data .close span { float: left; margin: 2px 0 0 13px; }
				.map-data .close strong { color: #d49604; float: left; }
				
		.map-gallery { float: right; padding: 0 0 0 2%; }
	
	#map-zoom { left: 0; margin: 0; padding: 0; position: absolute; top: 0; z-index: 100; }
		#map-zoom li { list-style: none; margin: 0; padding: 0; }
			#map-zoom li a { 
				background: url('/img/opacity/w40.png'); 
				color: #000;
				display: block; 
				float: left;
				font-size: 20px; 
				font-weight: bold; 
				margin-right: 10px;
				opacity: .8;
				padding: 7px 10px; 
				text-align: center;
				text-decoration: none; 
				text-shadow: 1px 1px 1px #fff;
			}
			#map-zoom li a:hover { opacity: 1; }


/* miniZoomPan styles */
.gzoomwrap {
  float:left;
  margin:0 10px 0 0;
}
.minizoompan {
  background: #fff;
  position: relative; /* always set to relative or offset() won't work */
  padding: 0;
  margin: 0;
}

.minizoompan span.loader { /* the loader label*/
  position:absolute;
  left:0;
  top:0;
  z-index: 1;
  display: none;
  color: #000;
  background: #fff;
  padding: 3px;
}
.minizoompan .zoomIcon { /* the zoom icon */
  position:absolute;
  cursor:pointer;
  left:0;
  top:0;
  z-index: 1;
  display: none;
}

.gzoombutton {
  float:left;
  cursor:pointer;
}
.gzoomSlider {
  float:left;
  margin:3px 5px 0 5px;
}

#gzoomoverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#gzoomlbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#gzoomlbox a img { 
  border: none; 
}
#imagebox {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#gzoom-cont-img { padding: 10px; }

#lboximgdatacontainer {
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
	padding: 0 10px 10px 10px; 
	color:#666;
}
#gzoomloading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}

#lboximgdatacontainer #gzoomlbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	